<div class="container">

  <div >
    <input [(ngModel)]="newItem" >
    <button  (click)="addItemToList()" > Add</button>
  </div>

  <hr>

  <ul *ngFor="let item of items; let i = index">
    <li> {{ item }} {{ i }} <button (click)="removeItem(i)">Delete</button> </li>
  </ul>

</div>
